@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*::after,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 28em) {
    html {
      font-size: 40%; } }

body {
  padding: 0;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  background-color: #eaeaea; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #33363b; }

p {
  font-family: Montserrat, sans-serif;
  line-height: 1.9rem;
  font-size: 1.6rem;
  font-weight: 200; }

h1 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem; }

h2 {
  font-weight: bolder;
  color: #110338; }

h3 {
  font-weight: normal; }

h4 {
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 0.7rem; }

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 3/4;
  grid-column: 2/3;
  width: 100%;
  margin: auto;
  margin-top: 4rem; }
  .buttons__icon {
    width: 4rem;
    margin: 0 3rem;
    justify-self: center; }
    .buttons__icon:hover {
      transform: scale(1.1); }
    .buttons__icon:active {
      transform: translateY(2px); }
    .buttons__icon-img {
      height: 100%;
      width: 100%; }
  .buttons .arrow1 {
    transform: scaleX(-1); }

.btn1 {
  grid-column: 1/2; }

.btn2 {
  grid-column: 2/3; }

.btn3 {
  grid-column: 3/4; }

.btn4 {
  grid-column: 6/7; }

.btn {
  height: 5rem;
  width: 8rem;
  border-radius: 10px;
  margin: 0 1rem;
  background-color: #f6653c;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  outline: none;
  border: none; }
  .btn:hover {
    background-color: #dd5b36; }
  .btn:active {
    transform: translateY(2px); }
  @media only screen and (max-width: 50em) {
    .btn {
      height: 4rem;
      width: 10rem; } }

.loader-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 1200px;
  margin: auto;
  top: 0;
  left: 0;
  background: #ff0000;
  right: 0;
  z-index: 1000; }
  @media only screen and (max-width: 75em) {
    .loader-div {
      width: 100vw; } }
  @media only screen and (max-width: 28em) {
    .loader-div {
      width: 100vw; } }

.stop {
  animation: 2s opaque forwards; }

@keyframes opaque {
  0% {
    opacity: 1;
    z-index: 100; }
  100% {
    opacity: 0;
    z-index: -1; } }

.loader-container {
  width: 200px;
  height: 200px; }
  .loader-container img {
    height: 70%;
    width: 70%;
    margin-left: 15%; }

.ghost {
  animation: float 3s ease-out infinite; }

@keyframes float {
  50% {
    transform: translate(0, 20px); } }

.shadowFrame {
  width: 130px;
  margin: auto;
  margin-top: 25px; }

.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center; }

.shadow ellipse {
  transform-origin: center center; }

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%; }
  50% {
    width: 60%;
    margin: 0 18%; }
  100% {
    width: 90%;
    margin: 0 5%; } }

.sidebar {
  grid-row: 1/5;
  grid-column: 1/2;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  height: 100%;
  transition: all 0.2s ease-in-out; }
  @media only screen and (max-width: 50em) {
    .sidebar {
      position: absolute;
      width: 100vw;
      z-index: 500;
      height: auto;
      padding: 3rem; } }
  @media only screen and (max-width: 28em) {
    .sidebar {
      width: 100vw;
      padding: 6rem; } }

.sidebar h2:first-of-type {
  margin-top: 3rem; }

.sidebar ul li {
  list-style-type: none;
  width: 100%; }

.sidebar a {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #594f73;
  width: 100%;
  height: 3rem;
  padding-left: .5rem; }

.sidebard a:hover {
  background-color: lightgrey; }

.sidebar__subtitle {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #dcd7eb;
  border-top: 1px solid #2b6498;
  height: 4rem;
  line-height: 1.6;
  padding-left: .5rem;
  padding-right: 1rem;
  margin-top: 1rem;
  width: 100%;
  cursor: pointer; }

.sidebard i {
  position: absolute;
  right: 2.2rem;
  top: 20%; }

.sidebar__instructions {
  margin-bottom: 2rem;
  font-size: 1.4rem; }

.sidebar ul,
.sidebar li {
  list-style-type: none; }

.youtube {
  height: 40px;
  width: auto;
  margin-top: 8rem;
  border: none;
  outline: none;
  padding: 10px 0;
  box-shadow: none; }

.sidebar__set {
  display: block;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  height: auto;
  transform: translateY(-0.5rem);
  text-transform: uppercase;
  background-color: green;
  color: white;
  margin-top: 2rem; }

.moveSidebar {
  display: none;
  width: 0;
  background-color: lightgrey; }

#subList1,
#subList2,
#subList3,
#subList4 {
  display: inline-block; }

.icon {
  width: 3rem;
  height: 3rem;
  fill: currentColor; }

.icon:hover {
  fill: darkgrey; }

.sidebar-container {
  grid-row: 1/4;
  grid-column: 1/2;
  height: 100%; }
  @media only screen and (max-width: 50em) {
    .sidebar-container {
      display: none; } }

.block {
  display: block; }

.icon {
  margin-right: 3rem; }

.extra {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 600px;
  height: 620px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #ffe164;
  border-radius: 12px;
  box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100; }
  @media only screen and (max-width: 62.5em) {
    .extra {
      top: 80%;
      height: 600px; } }
  @media only screen and (max-width: 37.5em) {
    .extra {
      top: 60%;
      width: 320px;
      height: 700px; } }

.extra a {
  color: #2b6498;
  display: inline; }

.extra__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 4rem;
  align-items: center;
  width: 400px;
  height: 640px; }
  @media only screen and (max-width: 37.5em) {
    .extra__content {
      grid-template-columns: 1fr;
      grid-template-rows: 3fr;
      width: 280px;
      grid-gap: 0; } }

.extra-col1,
.extra-col2 {
  grid-template-rows: 1fr 5rem; }

.extra p {
  line-height: 1.4; }

p {
  color: #33363b; }

h4 {
  color: #2b6498; }

.bmc-button {
  grid-row: 2/3;
  justify-self: start;
  align-self: start; }
  @media only screen and (max-width: 37.5em) {
    .bmc-button {
      grid-row: 3/4;
      margin-top: 4rem; } }

.point {
  cursor: pointer; }

.icon-base {
  width: 5em;
  height: 5rem;
  fill: #2B6498; }

.icon-base:hover {
  fill: darkorange; }

.xc {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 30px;
  fill: blue;
  cursor: pointer; }

.xc:hover {
  transform: scale(1.1);
  opacity: 0.8; }

.xxc {
  display: flex; }

.pointer {
  cursor: pointer; }

.nav-bar {
  background-color: #ff0000;
  color: #fff;
  display: grid;
  height: 7rem;
  width: 1200px;
  margin: auto;
  overflow: none;
  box-shadow: 3px 0px 1px 0px rgba(0, 0, 0, 0.4);
  grid-template-columns: 3% 7% 15% 50% 25%;
  z-index: 5; }
  @media only screen and (max-width: 75em) {
    .nav-bar {
      width: 100vw; } }
  @media only screen and (max-width: 28em) {
    .nav-bar {
      width: 100vw; } }
  .nav-bar__logo {
    grid-column: 2/3;
    align-self: center;
    justify-self: start; }
  .nav-bar__title {
    grid-column: 3/4; }
  .nav-bar__main {
    grid-column: 4/5;
    text-align: center; }
  @media only screen and (max-width: 50em) {
    .nav-bar__link {
      grid-column: 4/5; } }
  @media only screen and (max-width: 50em) {
    .nav-bar {
      grid-template-columns: 5vw 18vw 1fr 18vw 5vw; } }
  .nav-bar__title {
    font-family: Montserrat, sans-serif;
    margin-right: auto;
    align-self: center;
    font-size: 1.6rem; }
    @media only screen and (max-width: 50em) {
      .nav-bar__title {
        display: none; } }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__title {
        font-size: 1rem; } }
    .nav-bar__title:hover {
      color: #ffe164; }
    .nav-bar__title-page {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      height: 7rem;
      font-size: 2.4rem; }
      @media only screen and (max-width: 50em) {
        .nav-bar__title-page {
          font-size: 2rem; } }
      .nav-bar__title-page-main {
        line-height: 2.4rem;
        text-align: center; }
      .nav-bar__title-page-deco {
        height: 4rem;
        width: auto;
        margin: 0 2rem; }
        @media only screen and (max-width: 37.5em) {
          .nav-bar__title-page-deco {
            display: none; } }
  .nav-bar__logo-img {
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
    justify-self: center;
    fill: #fff; }
    .nav-bar__logo-img:hover {
      fill: #ffe164; }
  .nav-bar__links {
    display: flex;
    justify-content: space-evenly; }
  .nav-bar__link {
    font-size: 1.4rem;
    align-self: center;
    color: #fff;
    font-family: Montserrat, sans-serif;
    text-decoration: none; }
    .nav-bar__link:hover {
      color: #ffe164; }
    @media only screen and (max-width: 50em) {
      .nav-bar__link.link2, .nav-bar__link.link3 {
        display: none; } }

.menu {
  fill: #fff;
  align-self: center;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 50em) {
    .menu {
      display: block; } }
  .menu:hover {
    fill: #7ebc59; }

.introduction {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 800px;
  background-color: #fff;
  justify-self: center;
  align-self: center;
  margin: 2em 0;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 62.5em) {
    .introduction {
      width: 500px; } }
  @media only screen and (max-width: 37.5em) {
    .introduction {
      grid-row: 2/3;
      justify-content: center;
      width: 400px;
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .introduction {
      grid-row: 2/3;
      justify-content: center;
      width: 360px;
      flex-direction: column; } }
  @media only screen and (max-width: 20em) {
    .introduction {
      grid-row: 2/3;
      justify-content: center;
      width: 310px;
      flex-direction: column; } }
  .introduction a {
    display: inline;
    text-decoration: none;
    color: #ff0000;
    cursor: pointer; }
  .introduction__img {
    width: 170px;
    height: 260px;
    margin: 2rem;
    background-color: #7ebc59;
    position: relative;
    padding: 20px;
    align-self: center;
    justify-self: flex-end;
    margin-bottom: 2rem;
    margin-right: 1rem;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 62.5em) {
      .introduction__img {
        width: 150px;
        height: 225px; } }
    .introduction__img img {
      width: 100%;
      height: 100%; }
  .introduction__text {
    width: 60%; }
    @media only screen and (max-width: 37.5em) {
      .introduction__text {
        width: 90%;
        margin-top: 2rem; } }
  .introduction__text p {
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 200;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .introduction__text p {
        font-size: 1.6rem;
        line-height: 2.2rem; } }
    @media only screen and (max-width: 28em) {
      .introduction__text p {
        font-size: 2.2rem;
        line-height: 2.6rem; } }
  .introduction__text h1 {
    color: #ff0000;
    text-align: center;
    line-height: 3.8rem; }

.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 75%;
  left: 20%;
  display: none; }

.action {
  animation: grow 6s ease-out forwards;
  display: block; }

.ball img {
  height: 100%;
  width: 100%; }

@keyframes grow {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(12);
    opacity: 1;
    top: 50%; }
  100% {
    transform: scale(12);
    top: 50%;
    opacity: 1; } }

.links {
  margin-top: 3rem; }

.card {
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4); }

.wrapper {
  width: 1200px;
  position: relative;
  box-shadow: 3px 0px 1px 0px rgba(0, 0, 0, 0.4);
  display: grid;
  align-items: center;
  background-color: #74d680;
  margin: 0 auto;
  grid-template-rows: auto auto auto;
  grid-template-columns: 23rem 1fr; }
  @media only screen and (max-width: 75em) {
    .wrapper {
      width: 100vw; } }
  @media only screen and (max-width: 62.5em) {
    .wrapper {
      grid-template-columns: 28rem 1fr; } }
  @media only screen and (max-width: 50em) {
    .wrapper {
      grid-template-columns: 0 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .wrapper {
      width: 100vw; } }

.main {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: start;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .main {
      grid-row: 1/2;
      margin-top: 2rem; } }

.overlay {
  position: relative;
  margin: auto;
  margin-top: 2rem;
  width: 800px;
  height: 500px;
  transform: all 5s ease;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  align-self: center;
  justify-self: center;
  background-color: #368cbf; }

.overlay .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: none;
  transform: all 5s ease; }

.overlay:hover .after {
  display: block;
  background: rgba(0, 0, 0, 0.4);
  transform: all 5s ease; }

.image-art {
  height: 100%;
  width: 100%;
  border-radius: 5px; }

.image-text {
  position: absolute;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 300;
  text-align: center;
  width: 60%;
  height: 30%;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all .2s ease;
  z-index: 2000; }

.overlay:hover .image-text {
  display: flex; }

@media only screen and (max-width: 62.5em) {
  .overlay {
    width: 600px;
    height: 375px; }
  .image-text {
    width: 300;
    height: 150;
    font-size: 7rem; } }

@media only screen and (max-width: 50em) {
  .overlay {
    width: 550px;
    height: 350px; }
  .image-text {
    width: 300;
    height: 150;
    font-size: 5rem; } }

@media only screen and (max-width: 37.5em) {
  .overlay {
    width: 360px;
    height: 220px;
    font-size: 5rem; }
  .image-text {
    width: 300;
    height: 150;
    font-size: 5rem; } }

@media only screen and (max-width: 20em) {
  .overlay {
    width: 310px;
    height: 200px; }
  .image-text {
    width: 300;
    height: 150;
    font-size: 4rem; } }

.links {
  grid-row: 3/4;
  grid-column: 2/3;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  border-radius: 5px;
  margin: 2rem 0;
  padding: 2rem 0rem;
  background-color: #fff;
  justify-content: flex-start;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 62.5em) {
    .links {
      width: 600px;
      height: 400px; } }
  @media only screen and (max-width: 37.5em) {
    .links {
      justify-content: center;
      width: 360px;
      height: 300px; } }
  @media only screen and (max-width: 37.5em) {
    .links {
      justify-content: center;
      width: 310px;
      height: 300px; } }
  .links__text {
    margin-bottom: 3rem;
    color: #ff0000;
    font-size: 2rem; }
  .links__images {
    display: flex;
    justify-content: space-evenly; }
    .links__images-1 {
      width: 40%; }
      .links__images-1 img {
        width: 100%;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
        .links__images-1 img:hover {
          transform: scale(0.98) translateY(1px); }
      .links__images-1 figcaption {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        text-align: center; }

.footer {
  display: flex;
  width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1.5rem 0;
  height: 7rem;
  background-color: #ff0000;
  border-top: 1px solid #ff0000;
  box-shadow: 3px 0px 1px 0px rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 75em) {
    .footer {
      width: 100vw; } }
  .footer__copyright {
    text-align: center;
    line-height: 1.5; }
    .footer__copyright p {
      font-size: 1.2rem;
      color: #fff; }

#footer a {
  color: #74d680; }
