

.footer{
  display: flex;
  width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1.5rem 0;
  height: 7rem;
  background-color: $color-xmas-red;
  border-top: 1px solid $color-xmas-red;
  box-shadow: $box-shadow-page;

  @media only screen and (max-width: $bp-largest){
    width: 100vw;
  }

 

  &__copyright {
    text-align: center;
    line-height: 1.5;

    p {
    font-size: 1.2rem;
      color: #fff;
    }
  }

}

#footer a{
  color: $color-xmas-lightgreen;
}

