.nav-bar {
  background-color: $color-xmas-red;
  color: #fff;
  display: grid;
  height: 7rem;
  width: 1200px;
  margin: auto;
  overflow: none;
  box-shadow: $box-shadow-page;
  grid-template-columns: 3% 7% 15% 50% 25%;
  z-index: 5;


  @media only screen and (max-width: $bp-largest){
    width: 100vw;
  }
  @media only screen and (max-width: $bp-smallest){
    width: 100vw;
    
  }



  &__logo{
    grid-column: 2/3;
    align-self: center;
    justify-self: start;
  }


  &__title{
    grid-column: 3/4;
  }

  &__main{
    grid-column: 4/5;
    text-align:center;

  }

  &__link{
    @media only screen and (max-width: $bp-medium) {
      grid-column: 4/5;
  
    }

  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 5vw 18vw 1fr 18vw 5vw;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    margin-right: auto;
    align-self: center;
    font-size: 1.6rem;


    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 1rem;
    }
    
    &:hover {
      color: $color-yellow;
    }

    &-page {
      display:flex;
      justify-content: space-between;
      align-items: center;

      margin: auto;
      height: 7rem;
      font-size: 2.4rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
      }

      &-main {
        line-height: 2.4rem;
        text-align: center;
      }

      &-deco {
        height: 4rem;
        width: auto;
        margin: 0 2rem;

        @media only screen and (max-width: $bp-small) {
          display: none;
        }
      }
    }
  }

  &__logo {

    &-img {
      height: 4rem;
      width: 4rem;
      margin-left: 2rem;
      justify-self: center;
      fill: #fff;
      &:hover {
        fill: $color-yellow;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    
  }

  &__link {
    font-size: 1.4rem;
    align-self: center;
    color: #fff;
    font-family: Montserrat, sans-serif;
    text-decoration: none;

    &:hover {
      color: $color-yellow;
    }

    &.link2,
    &.link3 {
      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }
  }
}

// .link3 {
//   display: none;
// }

.menu {
  fill: #fff;
  align-self: center;
  cursor: pointer;
  display: none;

  @media only screen and (max-width: $bp-medium){
    display: block;
  }

  &:hover {
    fill: $color-green;
  }
}

