.wrapper {
  width: 1200px;
  position:relative;
  box-shadow: 3px 0px 1px 0px rgba(0,0,0,.4);
  display: grid;
  align-items: center;
  // justify-items: center;
  background-color: $color-xmas-lightgreen;
  margin: 0 auto;
  grid-template-rows:auto auto auto;
  grid-template-columns: 23rem 1fr;
  @media only screen and (max-width:$bp-largest){
    width: 100vw;
  }


  @media only screen and (max-width:$bp-large){
    grid-template-columns: 28rem 1fr;
  }

  @media only screen and (max-width:$bp-medium){
    grid-template-columns: 0 1fr;
  }

  @media only screen and (max-width: $bp-small){
    width: 100vw;
    
  }
}